In [48]:
import numpy as np
import pandas as pd 
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [7]:
# loading dataset into pandas dataframe 
credit_card_data=pd.read_csv('creditcard.csv')

In [ ]:
credit_card_data.head()

In [9]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [11]:
#dataset information 
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [15]:
#checking the no.of missing values in each column 
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [17]:
#distribution of legit transaction and fraudulent transactions 
credit_card_data['Class'].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

In [19]:
#this dataset is highly unbalanced 0-normal transcations 1-fraudulent transactions

In [20]:
#seprating the data for analysis 
legit=credit_card_data[credit_card_data.Class==0]
fraud=credit_card_data[credit_card_data.Class==1]

In [21]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [22]:
#statistical measures of the data 
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [23]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [24]:
#compare the values for both transactions  
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [25]:
#Under Sampling 
#build a sample dataset containing similar distribution of narmal and fraudulent transactions 
#no.of fraudulent transactions is 492 
#when data is balanced it is easy for machine learning algorithms to predict.so,take 492 from normal transactions combine or join with fraudulent transactions

In [27]:
#it will take random legit or normal transactions called random sampling
legit_sample=legit.sample(492)

In [28]:
legit_sample

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
143079,85107.0,1.031503,-0.612749,0.940649,0.050468,-0.799701,0.633249,-0.718615,0.311076,0.866368,...,-0.132413,-0.229112,-0.003816,-0.201785,0.075296,0.966250,-0.029049,0.009379,69.32,0
120399,75815.0,1.121923,-0.776216,0.379933,0.287319,-0.639505,0.645173,-0.646367,0.094758,-0.794018,...,-0.188615,-0.129553,-0.319534,-0.824112,0.645396,-0.182539,0.058705,0.033676,119.50,0
111067,72077.0,-0.805689,1.801258,1.309396,2.748553,0.105210,-0.166737,0.769433,0.315933,-2.578340,...,0.182546,0.349974,-0.244305,0.572508,0.435054,0.321635,-0.085587,0.008499,34.05,0
221250,142494.0,-3.722991,1.847762,-0.163888,-1.991033,-0.688922,1.526352,-4.602808,-9.986200,-0.766611,...,-4.925426,2.027960,-0.053988,0.649192,0.265638,0.657886,0.002888,-0.175459,57.00,0
43101,41371.0,1.151706,-0.037347,1.284299,1.345039,-0.990572,-0.206769,-0.562836,0.093214,0.902055,...,-0.062962,0.021213,-0.005126,0.375959,0.412706,-0.408198,0.072009,0.038134,9.99,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247584,153625.0,-0.788117,-0.576021,0.236086,-0.181093,1.621156,-1.135704,0.039402,0.141674,-0.080525,...,-0.012678,-0.370854,0.230360,-0.507624,-0.903903,0.241515,0.099555,0.210579,8.43,0
32171,36669.0,1.151326,-0.289667,0.891326,0.507341,-0.455376,0.956132,-0.825856,0.414140,0.735330,...,-0.066916,-0.001242,-0.054227,-0.774566,0.258651,0.380677,0.027872,0.005259,10.00,0
281248,170028.0,-0.611656,1.445174,-0.951679,-0.830205,0.901327,-0.370542,0.711895,0.273661,0.053871,...,-0.389628,-0.795504,0.123746,0.172598,-0.284134,0.101832,0.152763,-0.095754,8.99,0
135229,81158.0,0.748164,-0.567392,0.139135,1.579494,-0.468084,-0.131634,0.270994,-0.001707,0.450135,...,0.014556,-0.269810,-0.236988,0.072529,0.542960,-0.331675,-0.008751,0.050891,223.58,0
245943,152973.0,2.047492,0.092875,-1.947805,0.630431,0.479586,-0.744948,0.124017,-0.255539,0.779773,...,-0.057647,0.165861,-0.060898,-0.765543,0.184390,0.681801,-0.036893,-0.034232,17.59,0

In [29]:
#concatenating two data frames 
#axis=0 means added by rows 
new_dataset=pd.concat([legit_sample,fraud],axis=0)

In [30]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
143079,85107.0,1.031503,-0.612749,0.940649,0.050468,-0.799701,0.633249,-0.718615,0.311076,0.866368,...,-0.132413,-0.229112,-0.003816,-0.201785,0.075296,0.966250,-0.029049,0.009379,69.32,0
120399,75815.0,1.121923,-0.776216,0.379933,0.287319,-0.639505,0.645173,-0.646367,0.094758,-0.794018,...,-0.188615,-0.129553,-0.319534,-0.824112,0.645396,-0.182539,0.058705,0.033676,119.50,0
111067,72077.0,-0.805689,1.801258,1.309396,2.748553,0.105210,-0.166737,0.769433,0.315933,-2.578340,...,0.182546,0.349974,-0.244305,0.572508,0.435054,0.321635,-0.085587,0.008499,34.05,0
221250,142494.0,-3.722991,1.847762,-0.163888,-1.991033,-0.688922,1.526352,-4.602808,-9.986200,-0.766611,...,-4.925426,2.027960,-0.053988,0.649192,0.265638,0.657886,0.002888,-0.175459,57.00,0
43101,41371.0,1.151706,-0.037347,1.284299,1.345039,-0.990572,-0.206769,-0.562836,0.093214,0.902055,...,-0.062962,0.021213,-0.005126,0.375959,0.412706,-0.408198,0.072009,0.038134,9.99,0

In [31]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [32]:
new_dataset['Class'].value_counts()

Class
0    492
1    492
Name: count, dtype: int64

In [34]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94188.758130,0.039398,-0.146198,0.059469,0.050005,0.031720,-0.013319,-0.033052,-0.054451,0.030184,...,-0.016928,-0.026183,0.014821,-0.007044,-0.030911,0.019659,0.046608,0.043305,0.000030,94.778659
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [35]:
#spliting the data into features and targets
#features are v1,v2...... targets are class values 0 or 1 store in variables
X=new_dataset.drop(columns='Class',axis=1)
Y=new_dataset['Class']

In [36]:
X

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
143079,85107.0,1.031503,-0.612749,0.940649,0.050468,-0.799701,0.633249,-0.718615,0.311076,0.866368,...,0.074699,-0.132413,-0.229112,-0.003816,-0.201785,0.075296,0.966250,-0.029049,0.009379,69.32
120399,75815.0,1.121923,-0.776216,0.379933,0.287319,-0.639505,0.645173,-0.646367,0.094758,-0.794018,...,-0.202461,-0.188615,-0.129553,-0.319534,-0.824112,0.645396,-0.182539,0.058705,0.033676,119.50
111067,72077.0,-0.805689,1.801258,1.309396,2.748553,0.105210,-0.166737,0.769433,0.315933,-2.578340,...,0.155955,0.182546,0.349974,-0.244305,0.572508,0.435054,0.321635,-0.085587,0.008499,34.05
221250,142494.0,-3.722991,1.847762,-0.163888,-1.991033,-0.688922,1.526352,-4.602808,-9.986200,-0.766611,...,2.103202,-4.925426,2.027960,-0.053988,0.649192,0.265638,0.657886,0.002888,-0.175459,57.00
43101,41371.0,1.151706,-0.037347,1.284299,1.345039,-0.990572,-0.206769,-0.562836,0.093214,0.902055,...,-0.137415,-0.062962,0.021213,-0.005126,0.375959,0.412706,-0.408198,0.072009,0.038134,9.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,1.252967,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.226138,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.247968,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.306271,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.017652,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53

In [37]:
Y

143079    0
120399    0
111067    0
221250    0
43101     0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [57]:
#split the data into training data and testing data 
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,stratify=Y,random_state=2)

In [58]:
print(X.shape,X_train.shape,X_test.shape)

(984, 30) (688, 30) (296, 30)

In [59]:
#Model training (Logistic Regression)
model=LogisticRegression()

In [60]:
#training the Logistic regression model with training data 
model.fit(X_train,Y_train)

LogisticRegression()

In [61]:
#model Evaluation 
#accuracy on training data 
X_train_prediction=model.predict(X_train)
training_data_accuracy=accuracy_score(X_train_prediction,Y_train)

In [62]:
#Accuracy score on training data 
training_data_accuracy

0.9447674418604651

In [63]:
#accuracy on test data 
X_test_prediction=model.predict(X_test)
testing_data_accuracy=accuracy_score(X_test_prediction,Y_test)

In [64]:
#Accuracy score on testing data 
testing_data_accuracy

0.9087837837837838

In [ ]:
#THE END..........